.product-details {
  max-width: 1100px;
  margin-left: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.product-page h2 {
  font-size: 30x;
  margin-bottom: 10px;
}

.product-page img {
  width: 100%;
  max-height: 570px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-page p {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-page .product-price {
  font-size: 24px;
  color: #888;
}

.loading {
  text-align: center;
  font-size: 36px;
}

.product-page {
  display: flex;
  flex-direction: column;
}

.product-details {
  flex: 1;
  margin-right: 20px;
}

.product-item {
  max-width: 310px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.product-item:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.viewed-products {
  margin: 20px 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  max-width: 1300px;
}

.product-page > h3 {
  text-align: center;
  font-size: 30px;
}

.product-image {
  max-width: 500px;
  height: 300px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}
.product-info h3 {
  font-size: 23px;
}
.product-info p {
  font-size: 20px;
}

.product-name {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.product-price {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: black !important;
}

button {
  width: 20%;
  font-size: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
