.App {
  margin-left: 400px;
  max-width: 1300px;
}
.App {
  margin-left: 400px;
  max-width: 1300px;
}
.product-image {
  width: 100%;
  height: 300px; /* фиксированная высота для всех изображений */
  object-fit: cover; /* масштабирует изображение, сохраняя его пропорции, и обрезает его, чтобы заполнить контейнер */
}

.product-list {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.product-item {
  max-width: 310px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.product-item:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 300px; /* фиксированная высота для всех изображений */
  object-fit: cover; /* масштабирует изображение, сохраняя его пропорции, и обрезает его, чтобы заполнить контейнер */
}

.product-info {
  padding: 20px;
}

.product-info h3 {
  font-size: 23px;
}

.product-info p {
  font-size: 20px;
}

.product-name {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.product-price {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.product-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-details img {
  width: 100%;
  max-height: 570px;

  object-fit: cover; /* масштабирует изображение, сохраняя его пропорции, и обрезает его, чтобы заполнить контейнер */
  margin-bottom: 20px; /* добавляем отступ снизу для разделения с текстом */
}

.product-details h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.product-details p {
  font-size: 24px;
  margin-bottom: 15px;
}

.product-details .product-price {
  font-size: 26px;
  color: #888;
  font-weight: bold;
}

.sidebar {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}
.sidebar p {
  font-size: 24px;
  position: absolute;
  bottom: 40px;
}

h1 {
  font-weight: lighter;
  margin: 10px 400px;
}

.sidebar h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

.sidebar li.active {
  font-weight: bold;
}

.search-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.not-found {
  font-size: 42px;
  font-weight: bold;
  color: gray;
  text-align: center;
  margin-top: 20px;
}
a {
  color: black;
  text-decoration: none;
}

.price-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 300px;
  margin: 20px auto;
}

.price-input {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.price-input:focus {
  border-color: #5a67d8;
  outline: none;
  box-shadow: 0 0 5px rgba(90, 103, 216, 0.5);
}

.price-filter h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
